<ion-view title="Intro" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div>Welcome to Bench Pro!</div>
    <div>Bench Pro is a bench press routine that will help you raise your one-rep max (1RM)</div>
    <div>Form is everything.  Before you start be sure you are familiar with the exercise and use good form.  If not, consult one of the many tutorials online or ask a friend!</div>
    <button ng-click="goToOneRM()">Begin!</button>
  </ion-content>
</ion-view>
