<ion-view title="Find Your 1RM" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div>Let's find your 1 rep max!</div>
    <div>The key is to start with lighter weights / higher reps and then work your way to higher weights / lower reps</div>
    <button ng-click="goToOneRepMaxSequence()">Get started!</button>
    <button ng-click="goToSetOneRepMax()">I already know my 1 rep max</button>
  </ion-content>

</ion-view>
