<ion-view title="Find Your 1RM" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div>Let's find your 1RM!</div>
    <div>The key is to start with lighter weights / higher reps and then work your way to higher weights / lower reps</div>
    <div>1. Do two sets of 4-5 reps with a light weight.  Rest two minutes.</div>
    <div>2. Increase weight to one you can lift roughly eight times.  Rest three minutes.</div>
    <div>3. Increase weight to one you can lift three-four times.  Rest three minutes. </div>
    <div>4. Increase weight to approxmate 1RM. And try to do one rep.</div>
    <div>-If it was too easy rest three minutes, increase weight and repeat.</div>
    <div>-If you could not perform one rep, rest three minutes and decrease weight</div>
    <div>Note: for the purposes of this application, your 1RM should be between 100 and 580 lbs and divisible by 5.</div>
    <button ng-click="openOneRepMaxModal()">Set your 1RM</button>
  </ion-content>

</ion-view>
