<ion-view title="One RM Calculation" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">
    <div ng-show="currentStepData.type === 'lift'">
      <div ng-show="countdown">Begin in {{timeRemaining}}</div>
      <div ng-hide="countdown">Go ahead!</div>
      <div>{{currentStepData.content}}</div>
      <button ng-hide="currentStepData.confirm" ng-click="updateOneRepMaxStep()">Continue</button>
      <button ng-show="currentStepData.confirm" ng-click="openOneRepMaxModal()">Continue1</button>
    </div>
    <div ng-show="currentStepData.type === 'completion'">
      Cool. take a break. see you in a couple of days.
    </div>
  </ion-content>
</ion-view>
