<ion-view title="Workouts" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div ng-show="!workouts">
      <div>It doesn't look like you've set your one rep max.</div>
      <button ng-click="goToOneRepMax()">Set your one rep max</button>
    </div>
    <ion-list ng-show="workouts">
      <ion-item ng-repeat="workout in workouts" ng-class="{'is-completed': workout.completed}" type="item-text-wrap" href="#/app/workouts/{{workout.id}}">
        Workout #{{workout.workout}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
