<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-hide="userKnowsOneRepMax">
      <div>Did you succeed?</div>
      <button ng-click="toggleUserOneRepMax()">Yes</button>
      <button ng-click="liftFail()">No</button>
    </div>
    <div ng-show="userKnowsOneRepMax">
      <label for="oneRepMax">
        How much didst thou lift?
        <input id="oneRepMax" type="tel" placeholder="Your 1RM here" ng-model="max.weight"/>
      </label>
      <div ng-show="errorMsg">{{errorMsg}}</div>
      <button ng-click="setOneRepMax(max.weight)">Submit</button>
      <button ng-click="closeOneRepMaxModal()">Cancel</button>
    </div>
  </ion-content>
</ion-modal-view>
